.aLogin {
    width: 100vw;
    height: 100vh;
    background-color: #4287f5;
    display: flex;
    justify-content: center;
    align-items: center;


    .aloginWrapper {
        width: 25%;
        height: 50%;
        position: relative;
        z-index: 1;
        border-radius: 30px;
        padding: 20px;

        h3{
            margin: 10px 0 4px 0;
        }

        .imgWrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                border-radius: 30%;
                width: 20%;
            }
        }

        .mask {
            top: 0;
            right: 0;
            padding: 20px;
            border-radius: 30px;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: 0.3;
        }

        .loginFields {

            .loginFieldsWrapper {
                .group {
                    position: relative;
                    margin-top: 20px;

                    .input {
                        font-size: 16px;
                        padding: 10px 10px 10px 5px;
                        display: block;
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid #515151;
                        background: transparent;

                        &:focus {
                            outline: none;
                        }
                    }

                    label {
                        color: #000;
                        font-size: 18px;
                        font-weight: normal;
                        position: absolute;
                        pointer-events: none;
                        left: 5px;
                        top: 10px;
                        transition: 0.2s ease all;
                        -moz-transition: 0.2s ease all;
                        -webkit-transition: 0.2s ease all;

                    }
                    
                    input:focus~label,
                    .input:valid~label {
                        top: -10px;
                        font-size: 14px;
                        color: #000;
                    }

                    .bar {
                        position: relative;
                        display: block;
                        width: 100%;

                        &:before,
                        &:after {
                            content: '';
                            height: 2px;
                            width: 0;
                            bottom: 1px;
                            position: absolute;
                            background: #5264AE;
                            transition: 0.2s ease all;
                            -moz-transition: 0.2s ease all;
                            -webkit-transition: 0.2s ease all;
                        }

                        &:before{
                            left: 50%;
                        }

                        &:after{
                            right: 50%;
                        }
                    }

                    .input:focus ~ .bar:before, .input:focus ~ .bar:after {
                        width: 50%;
                    }

                    .highlight {
                        position: absolute;
                        height: 60%;
                        width: 100px;
                        top: 25%;
                        left: 0;
                        pointer-events: none;
                        opacity: 0.5;
                       }
                       
                       .input:focus ~ .highlight {
                        animation: inputHighlighter 0.3s ease;
                       }
                       
                       @keyframes inputHighlighter {
                        from {
                         background: #5264AE;
                        }
                       
                        to {
                         width: 0;
                         background: transparent;
                        }
                       }

                }

                .loginButtonWrapper{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .loginButton{
                        border-radius: 15px;
                        border: 1px solid black;
                        margin-top: 20px;
                        padding: 12px;
                        background-color: transparent ;
                        font-weight: bold;
            
    
                        &:hover{
                            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
                            cursor: pointer;
                        }
                    }
                }
            }
        }


    }

}